/* print style */
/* Controls the page background colors and margings */
.MainPage {
	 margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #ffffff;
	
}
.Title{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #091ff5;
	background-color: #e0e0e0;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #999999;
	border-bottom-color: #999999;
	
}
.MainGroup{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #333333;
	background-color: #e0e0e0;
}
.SubGroup {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	font-weight: bold;
	color: #646464;
	background-color: #e0e0e0;
}
.TableHeader {
	font-family: "Courier New", Courier, monospace;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	border-top-width: 1px;
	border-top-style: none;
	background-color: #e0e0e0;
}
.ColumnHeader{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #484848;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-right-style: none;
	border-left-style: none;
	border-top-color: #333333;
	border-bottom-color: #333333;
	background-color:#e3e3e3;
}
.TableCell {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;	
	border-left-width: 1px;
	border-left-style: solid;
	background-color: #ffffff;
}
.AlternateTableCell{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;	
	border-left-width: 1px;
	border-left-style: solid;
	background-color: #ffffff;
	}
.MainTable {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #000000;
	
}

 .menu {
font-family: Georgia,'Times New Roman', Times, serif;
	font-size: 11px;
	font-weight: bold;
	color: #333333;	
}

.menu_hover {
font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 11px;
	font-weight: bold;
	color: #333333;	
}

a:visited {

font-family: Georgia,'Times New Roman', Times, serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	}
a:link {
font-family: Georgia,"Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	}	


.TableFooter {
	background-color:#d0d0d0;
	}